.line {
  display: flex;
  flex: 3 var(--task-line-width);
  flex-direction: row;
  justify-content: flex-start;
  justify-content: space-between;
  align-items: center;
  background-color: var(--gray-400);
  border-radius: 0.8rem;
  min-height: 7.2rem;
}

.inner-line {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  justify-content: space-between;
  align-items: center;
  margin: 1.6rem;
}

.inner-line-crossed-out {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  justify-content: space-between;
  align-items: center;
  margin: 1.6rem;
  text-decoration: line-through;
}
