.taskCheck {
  appearance: none;
  width: 1.745rem;
  height: 1.745rem;
  border-radius: 50%;
  position: relative;
}

.taskCheck:not(:checked) {
  color: var(--blue);

  border: 0.25rem solid;
  padding: 0.327rem;
}

.taskCheck:checked::before {
  position: absolute;
  content: url("../../assets/Check.svg");
  top: -0.4rem;
  left: 0.3rem;
}

.taskCheck:checked {
  background-color: var(--purple);
  border: 0;
}
