.wrapper {
  max-width: var(--task-line-width);
  margin: auto;
  display: grid;
  align-items: center;
}

@media (max-width: 768px) {
  html {
    font-size: 87.5%; /* = (14px/16px) */
  }

  .wrapper {
    grid-template-columns: 1fr;
  }
}
