.button {
  background-color: var(--blue);
  width: 5.625rem;
  height: 3.25rem;
  border-radius: 8px;
  color: var(--gray-100);
  text-decoration: none;

  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.button span {
  padding-right: 0.5rem;
  font-size: var(--text-medium);
}

.button .plusCircle {
  color: var(--gray-100);
  bottom: 0;
}
